@{
    ViewData["Title"] = Localizer["AccessDenied"];
}
<div class="alert alert-danger mt-3" role="alert">@Localizer["AccessDenied"]</div>
<p>@Localizer["AccessDeniedMsg"]</p>

<environment names="Development">
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
</environment>
