@model StudentInputModel
@{
    ViewData["Title"] = "New Student";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Students</a></li>
        <li class="breadcrumb-item active">Add Student</li>
    </ol>
</nav>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="BirthYear"></label>
            <input asp-for="BirthYear" class="form-control">
            <span asp-validation-for="BirthYear" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ClassId"></label>
            <select asp-for="ClassId" asp-items="ViewBag.Classes" class="form-control"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ParentName"></label>
            <input asp-for="ParentName" class="form-control">
            <span asp-validation-for="ParentName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ParentEmail"></label>
            <input asp-for="ParentEmail" class="form-control">
            <span asp-validation-for="ParentEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-4">
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </div>
        <div class="col-8 text-right">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>